/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: white;
    color: #FF8C00; /* Le texte de la page sera blanc */
}
button
{
 background-color:#FF8C00;
 
color:#CCC;
}
p{
	   color:#FF8C00; 
}
