img.idayuda {
margin-left: 0px;
margin-left: 0px
}

img.idvoda2 {
margin-left: 100px;
margin-left: 0px
width: 100px;
height: 100px
}

img.idsercom2 {
margin-left: 200px;
margin-left: 0px
width: 100px;
height: 100px
}

img.idwps {
margin-left: 100px;
margin-left: 0px
width: 50px;
height: 50px
}

img.idvodabasdepage {
margin-left: 0px;
margin-left: 0px
}
p{
color: red;
display: block;
text-align:left;
}

